/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

.logo {
    width: 4.5%;
    height: 19px;
    margin-top: 30px;
    margin-left: 50px;
    
}

.header {
    display: flex;
    justify-content: space-between;

}

.header-button {
    display: flex;
    gap: 68px;
}

.header a {
    display: flex;
    padding: 16px;
    border: white solid;
    border-width: 2px;
}

.header a:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid;
    border-width: 2px;
    

}

/****** Info group ***********/

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 35px;
    gap: 35px; /**autre maniere que gap**/
    
}

.headline-title {
    font-size: large;
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 4px;
}

.text {
    margin-top: 4px;
    margin-bottom: 0%;
}

/****** Research bar ***********/

.research {
    width: 28%;
    display: flex;
    border-radius: 15px;
}

.map-icon {
    font-size: large;
    text-align: center;
    line-height: 50px;
    background-color: var(--main-bg-color);
    color: #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    flex-shrink: 0;



}

input {

    font-size: large;
    font-weight: bold;
    border: none;
    outline: none;
    padding-left: 15px;
    border-top: var(--main-bg-color) solid;
    border-bottom: var(--main-bg-color) solid;
}

.research a {
    display: flex;
    text-align: center;
    line-height: 50px;
    background-color: var(--main-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 132px;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 0px 15px;
}


/****** Filters ***********/

.filters {
    display: flex;
    gap: 15px;

}

.filters-title {
    display: flex;
    align-items: center;
}

.filter {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    border: var(--border-color) solid ;
    border-width: 2px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;

}

.info-icon {
    border-radius: 100%;
    height: 24px;
    width: 24px;
    border: var(--border-color) solid;
    border-width: 1px;
    text-align: center;
    line-height: 20px;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
}

.hebergements-cards a {
    width: 30%;
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 0px 15px 0px 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;   
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites-marseille {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.activites {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    
}

.activites .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.activites-cards {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.activites-cards a {
    width: 25%;
    margin-top: 33px;
    
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
}

.activites img {
    width: 100%;
    height: 439px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** Footers ***********/

.bas-page{
    background-color: var(--main-bg-color);
    margin-top: 15px;
    
}

.footer-cards{
    display: flex;
}

.footer-list{
    flex: 1 0;
    padding: 20px;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-flow: row wrap;;
        justify-content: space-between;
        align-items: center;
    }

    .hebergements-cards a {
        width: 30%;
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}